<div class="wrapper wrapper_padding clearfix">
	<div class="col-1 about homepage_content">
		<h2>About</h2>
		<hr>
		<p>I am begginer software developer, who loves create.</p>
		<p>I adore reading books about science (chemistry, physics and biology) and study something new. I also interested in machine learning, cryptocurrency, and blockchain.</p>
		<p>You can contact me on <a href='https://www.facebook.com/profile.php?id=100000368068511' target="_blank">Facebook</a> or <a href="https://telegram.me/andmount" target="_blank">Telegram</a> and also you can look at my code on <a href="https://github.com/andmount" target="_blank">Github</a>.
		</p>	
	</div>
	<div class="col-2 homepage_content">
		<h2>Stuff I've Written</h2>
		<hr>

		<% @posts.each do |post| %>
			<h3><a href='#'><%=link_to post.title, post %></a></h3>
			<p class="date"><%= post.created_at.strftime("%A, %b, %d")%></p>
		<% end %>
	</div>

	<div class="col-3 homepage_content">
		<h2>Stuff I've Create</h2>
		<hr>
		
		<% @projects.each do |project| %>
			<h3><a href='#'><%=link_to project.title, project %></a></h3>
			<p class="date"><%= project.created_at.strftime("%A, %b, %d")%></p>
		<% end %>
	</div>
</div>